* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

html {
    height: -webkit-fill-available;
    height: 100%;
}

body {
    height: -webkit-fill-available;
    height: 100%;
}

.hide {
    display: none !important;
}